*:target {
    /* Offset anchor positions by fixed header height (and then some) */
    scroll-margin-top: 80px;
}

/* hdoc / leafy green doc styles */

.hdoc-function-code,
.hdoc-record-code {
  padding: 0.5em !important;
}

.hdoc-private {
  opacity: 0.5;
}
.hdoc-private:hover {
  opacity: 1;
}
.hdoc-private::after {
  content: 'private';
  font-size: 0.8em;
  margin-left: 10pt;
  background: #f5f5f5;
  border-radius: 2pt;
  padding: 2pt 5pt 2pt 5pt;
}
[data-theme="dark"] .hdoc-private::after {
  background: #242424;
}
/* Also style member variable descriptions */
dt.hdoc-private + dd {
  opacity: 0.5;
}
dt.hdoc-private:hover + dd,
dt.hdoc-private + dd:hover {
  opacity: 1;
}

.hdoc-protected {
  opacity: 0.75;
}
.hdoc-protected:hover {
  opacity: 1;
}
.hdoc-protected::after {
  content: 'protected';
  font-size: 0.8em;
  margin-left: 10pt;
  background: #f5f5f5;
  border-radius: 2pt;
  padding: 2pt 5pt 2pt 5pt;
}
[data-theme="dark"] .hdoc-protected::after {
  background: #242424;
}
/* Also style member variable descriptions */
dt.hdoc-protected + dd {
  opacity: 0.75;
}
dt.hdoc-protected:hover + dd,
dt.hdoc-protected + dd:hover {
  opacity: 1;
}

.hdoc-detail {
  opacity: 0.5;
}
.hdoc-detail:hover {
  opacity: 1;
}

.hdoc-detail::after {
  content: 'detail';
  font-size: 0.8em;
  margin-left: 10pt;
  background: #f5f5f5;
  border-radius: 2pt;
  padding: 2pt 5pt 2pt 5pt;
  font-family:
    SFMono-Regular,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
}
[data-theme="dark"] .hdoc-detail::after {
  background: #242424;
}

.hdoc-overview-template {
  font-size: smaller;
}

hr.member-fun-separator {
  margin: 1.5em 0;
  border-top: 1px dotted gray;
}

.hdoc-permalink-icon {
  opacity: 0;
  float: right;
}

.hdoc-pre-parent:hover > a:nth-child(1) {
  opacity: 1;
}

details {
  margin-bottom: 2pt;
}

/* Some (customized) Bulma CSS styles (used by hdoc / leafy green doc HTML) */

.is-family-code,
.is-family-monospace {
  font-family:
    SFMono-Regular,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
}

.breadcrumb {
  font-size: 1rem;
  white-space: nowrap;

  font-family:
    SFMono-Regular,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
}

.breadcrumb {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.breadcrumb a {
  justify-content: center;
  padding: 0 0.75em;
}

.breadcrumb a,
.breadcrumb li {
  align-items: center;
  display: flex;
  margin-top: 0 !important; /* override MDX styles */
  padding: 0;
}

.breadcrumb li:first-child a {
  padding-left: 0;
}

.breadcrumb li.is-active a {
  color: #363636;
  cursor: default;
  pointer-events: none;
}

[data-theme="dark"] .breadcrumb li.is-active a {
  color: #9c9c9c;
}

.breadcrumb li + li::before {
  color: #b5b5b5;
  content: "/";
  padding: 0 0.5em;
}

.breadcrumb ol,
.breadcrumb ul {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.breadcrumb .icon:first-child {
  margin-right: 0.5em;
}

.breadcrumb .icon:last-child {
  margin-left: 0.5em;
}

.breadcrumb.has-arrow-separator li + li::before {
  /* content: "→"; */
  content: "::"; /* that's more C++! */
}

/* Highlight.js */

pre code.hljs {
  display: block;
  overflow-x: auto;
}

.hljs {
  background: #f5f5f5;
  color: #000;
}

.hljs-addition,
.hljs-attribute,
.hljs-emphasis,
.hljs-link {
  color: #070;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-deletion,
.hljs-string,
.hljs-strong {
  color: #d14;
}

.hljs-strong {
  font-weight: 700;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-section,
.hljs-title {
  color: #900;
}

.hljs-class .hljs-title,
.hljs-title.class_,
.hljs-type {
  color: #458;
}

.hljs-template-variable,
.hljs-variable {
  color: #369;
}

.hljs-bullet {
  color: #970;
}

.hljs-meta {
  color: #34b;
}

.hljs-code,
.hljs-keyword,
.hljs-literal,
.hljs-number,
.hljs-selector-tag {
  color: #099;
}

.hljs-regexp {
  background-color: #fff0ff;
  color: #808;
}

.hljs-symbol {
  color: #990073;
}

.hljs-name,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag {
  color: #070;
}

[data-theme="dark"] .hljs {
  color: #c9d1d9;
  background: #0d1117;
  background-color: #242424;
}

[data-theme="dark"] .hljs-doctag,
[data-theme="dark"] .hljs-keyword,
[data-theme="dark"] .hljs-meta [data-theme="dark"] .hljs-keyword,
[data-theme="dark"] .hljs-template-tag,
[data-theme="dark"] .hljs-template-variable,
[data-theme="dark"] .hljs-type,
[data-theme="dark"] .hljs-variable.language_ {
  color: #ff7b72;
}

[data-theme="dark"] .hljs-title,
[data-theme="dark"] .hljs-title.class_,
[data-theme="dark"] .hljs-title.class_.inherited__,
[data-theme="dark"] .hljs-title.function_ {
  color: #d2a8ff;
}

[data-theme="dark"] .hljs-attr,
[data-theme="dark"] .hljs-attribute,
[data-theme="dark"] .hljs-literal,
[data-theme="dark"] .hljs-meta,
[data-theme="dark"] .hljs-number,
[data-theme="dark"] .hljs-operator,
[data-theme="dark"] .hljs-selector-attr,
[data-theme="dark"] .hljs-selector-class,
[data-theme="dark"] .hljs-selector-id,
[data-theme="dark"] .hljs-variable {
  color: #79c0ff;
}

[data-theme="dark"] .hljs-meta [data-theme="dark"] .hljs-string,
[data-theme="dark"] .hljs-regexp,
[data-theme="dark"] .hljs-string {
  color: #a5d6ff;
}

[data-theme="dark"] .hljs-built_in,
[data-theme="dark"] .hljs-symbol {
  color: #ffa657;
}

[data-theme="dark"] .hljs-code,
[data-theme="dark"] .hljs-comment,
[data-theme="dark"] .hljs-formula {
  color: #8b949e;
}

[data-theme="dark"] .hljs-name,
[data-theme="dark"] .hljs-quote,
[data-theme="dark"] .hljs-selector-pseudo,
[data-theme="dark"] .hljs-selector-tag {
  color: #7ee787;
}

[data-theme="dark"] .hljs-subst {
  color: #c9d1d9;
}

[data-theme="dark"] .hljs-section {
  color: #1f6feb;
  font-weight: 700;
}

[data-theme="dark"] .hljs-bullet {
  color: #f2cc60;
}

[data-theme="dark"] .hljs-emphasis {
  color: #c9d1d9;
  font-style: italic;
}

[data-theme="dark"] .hljs-strong {
  color: #c9d1d9;
  font-weight: 700;
}

[data-theme="dark"] .hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}

[data-theme="dark"] .hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}
